$black: #000;
$white: #fff;
$grey: #666;
$blue: #009;

.App.play {
  .App-game {
    transition: opacity .5s;
    opacity: 1;
    z-index: 1;
  }
}

.App-game {
  opacity: 0;
  z-index: -1;
  font-size: 32px;

  .play-area {
    position: relative;
    margin-top: 10px;
    line-height: 75px;
    font-size: 64px;

    > div {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .options {
    i {
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  .score {
    padding: 20px;
  }

  .back {
    border: 2px solid $black;
    background-color: $white;
    padding: 0 5px;
    font-size: 32px;
  }

  .hint {
    margin: 10px auto;
    color: $grey;
    font-size: 20px;
  }
}
